@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
/* line 26, ../sass/_buttons.sass */
.silver-bullet {
  padding: 0 0.4em;
  line-height: 1.5em;
  display: inline-block;
  position: relative;
  min-width: 0.9em;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8em;
  text-decoration: none;
  font-weight: bold;
  color: #666666;
  background-color: #efefef;
  background-image: -webkit-linear-gradient(top, #efefef 0%, #e4e4e4 50%, #d2d2d2 50%, #dfdfdf 100%);
  background-image: -moz-linear-gradient(top, #efefef 0%, #e4e4e4 50%, #d2d2d2 50%, #dfdfdf 100%);
  background-image: -ms-linear-gradient(top, #efefef 0%, #e4e4e4 50%, #d2d2d2 50%, #dfdfdf 100%);
  background-image: -o-linear-gradient(top, #efefef 0%, #e4e4e4 50%, #d2d2d2 50%, #dfdfdf 100%);
  background-image: linear-gradient(top, #efefef 0%, #e4e4e4 50%, #d2d2d2 50%, #dfdfdf 100%);
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #b4b4b4;
  border-right: 1px solid #dfdfdf;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  -webkit-box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #838383, 0 -1px 2px 1px #f5f5f5;
  -moz-box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #838383, 0 -1px 2px 1px #f5f5f5;
  box-shadow: inset 0 1px 0 0 white, 0 1px 0 0 #838383, 0 -1px 2px 1px #f5f5f5;
}
/* line 19, ../sass/_buttons.sass */
.silver-bullet:hover {
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
  background-image: -moz-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
  background-image: -ms-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
  background-image: -o-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
  background-image: linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
  -webkit-box-shadow: inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #848484, 0 -1px 2px 1px #e3e3e3;
  -moz-box-shadow: inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #848484, 0 -1px 2px 1px #e3e3e3;
  box-shadow: inset 0 1px 0 0 #f2f2f2, 0 1px 0 0 #848484, 0 -1px 2px 1px #e3e3e3;
}
/* line 23, ../sass/_buttons.sass */
.silver-bullet:active {
  -webkit-box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 white;
  -moz-box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 white;
  box-shadow: inset 0 0 30px 0 #999999, 0 1px 0 0 white;
}

/* line 6, ../sass/_site.sass */
html, body {
  margin: 0;
  padding: 0;
}

/* line 12, ../sass/_site.sass */
body {
  color: #463f4c;
  font-size: 0.9em;
  font-family: "Oswald", sans-serif;
}

/* line 17, ../sass/_site.sass */
#map {
  width: 100%;
  height: 700px;
  position: absolute;
  top: 140px;
  left: 0px;
}

/* line 24, ../sass/_site.sass */
#info-panel {
  color: white;
  text-shadow: 0 -1px 0 black;
  background: transparent url(../images/wood-pattern.jpg) repeat-x center top;
  border-top: 2px solid #ffde6b;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}
/* line 35, ../sass/_site.sass */
#info-panel .content {
  padding-top: 10px;
  height: 126px;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-radial-gradient(50% 100%, circle cover, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 100%);
  background-image: -moz-radial-gradient(50% 100%, circle cover, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 100%);
  background-image: -ms-radial-gradient(50% 100%, circle cover, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 100%);
  background-image: -o-radial-gradient(50% 100%, circle cover, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 100%);
  background-image: radial-gradient(50% 100%, circle cover, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 100%);
}
/* line 39, ../sass/_site.sass */
#info-panel span.description {
  display: block;
}
/* line 41, ../sass/_site.sass */
#info-panel input[type="text"] {
  width: 315px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  border-style: none;
  -webkit-box-shadow: inset 3px 3px 5px black, 1px 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 3px 3px 5px black, 1px 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 3px 3px 5px black, 1px 1px 0 rgba(255, 255, 255, 0.6);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  padding: 5px 10px 0 10px;
  margin-top: 2px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
/* line 56, ../sass/_site.sass */
#info-panel ul {
  margin: 0;
  padding: 0;
  text-align: left;
  zoom: 1;
  width: 700px;
  margin: 0 auto;
}
/* line 145, ../sass/_mixins.sass */
#info-panel ul li, #info-panel ul dt {
  float: left;
  list-style: none outside none;
  margin: 0 0.2em 1px 0;
  padding: 0;
  position: relative;
  top: 1px;
}
/* line 115, ../sass/_mixins.sass */
#info-panel ul:before, #info-panel ul:after {
  content: "";
  display: table;
}
/* line 118, ../sass/_mixins.sass */
#info-panel ul:after {
  clear: both;
}
/* line 61, ../sass/_site.sass */
#info-panel ul li {
  margin-right: 20px;
}
/* line 64, ../sass/_site.sass */
#info-panel ul li span.label {
  color: #dcdcdc;
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  line-height: 1.2em;
  margin-bottom: 1px;
}
/* line 71, ../sass/_site.sass */
#info-panel ul li span.description {
  color: #dcdcdc;
  margin-top: 8px;
}
/* line 74, ../sass/_site.sass */
#info-panel ul li span.position {
  font-size: 20px;
  display: block;
  color: #ffde6b;
  line-height: 1.2em;
}
/* line 79, ../sass/_site.sass */
#info-panel ul li span#latitude {
  margin-bottom: 6px;
}
/* line 81, ../sass/_site.sass */
#info-panel #addr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  line-height: 30px;
  top: 106px;
  left: 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 4px 7px black inset, 0px -2px 0px black;
  -moz-box-shadow: 0px 4px 7px black inset, 0px -2px 0px black;
  box-shadow: 0px 4px 7px black inset, 0px -2px 0px black;
  height: 30px;
  font-size: 14px;
  color: #c8c8c8;
}

/* line 95, ../sass/_site.sass */
#mini-map {
  display: none;
  width: 100px;
  height: 100px;
}

/* line 100, ../sass/_site.sass */
#size {
  position: relative;
  left: -50%;
  top: -50%;
  white-space: nowrap;
  border: 2px solid #ffde6b;
  width: 400px;
  height: 400px;
  margin-top: -205px;
  -webkit-box-shadow: 1px 1px 10px black inset, 0px 0px 10px white;
  -moz-box-shadow: 1px 1px 10px black inset, 0px 0px 10px white;
  box-shadow: 1px 1px 10px black inset, 0px 0px 10px white;
}
/* line 111, ../sass/_site.sass */
#size span {
  display: none;
  position: absolute;
  width: 90px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  top: -26px;
  left: -2px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.4);
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.4);
  padding: 0 0.6em;
  background-color: #ffde6b;
  color: black;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

/* line 128, ../sass/_site.sass */
.position {
  font-size: 26px;
  font-weight: bold;
}

/* line 31, ../sass/_media-queries.sass */
#map {
  top: 170px;
}

/* line 33, ../sass/_media-queries.sass */
#info-panel .content {
  height: 156px;
}

/* line 35, ../sass/_media-queries.sass */
#wrapper, #info-panel, #map {
  width: 320px;
  margin: 0 auto;
}

/* line 38, ../sass/_media-queries.sass */
#info-panel ul li {
  margin-right: 0;
}
/* line 40, ../sass/_media-queries.sass */
#info-panel ul li.icon {
  display: none;
}
/* line 42, ../sass/_media-queries.sass */
#info-panel ul li.lat-lng {
  margin-top: 5px;
}

/* line 44, ../sass/_media-queries.sass */
#addr, #size {
  display: none;
}

/* line 47, ../sass/_media-queries.sass */
#info-panel ul {
  width: 310px;
  padding-left: 10px;
}
/* line 50, ../sass/_media-queries.sass */
#info-panel ul input[type="text"] {
  width: 280px;
}
/* line 54, ../sass/_media-queries.sass */
#info-panel ul li.address .description {
  display: none;
}
